.startWatchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.startWatch {
  margin-top: 3em;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 2em;
  width: 75%;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

h1 {
  opacity: 1;
}

.watchButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
}

button {
  width: 15%;
  height: 30px;
  border-radius: 2em;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

button.start:hover {
  background-color: green;
}

button.stop:hover {
  background-color: red;
}

button:hover {
  background-color: green;
}

.timerContainer {
  margin-top: 3em;
  width: 75%;
  height: 100px;
  background-color: grey;
  opacity: 0.1;
  border-radius: 2em;
}

.timeDisplay {
  margin-bottom: 0;
}

table {
  display: flex;
  align-items: center;
  flex-direction: column;
}

tr > td:first-child {
  padding-right: 3em;
}
