html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.boxContainer {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.box1 {
  height: 100px;
  width: 25%;
  background: blue;
}

.box2 {
  height: 100px;
  width: 25%;
  background: black;
}

.box3 {
  height: 100px;
  width: 25%;
  background: red;
}

@media screen and (max-width: 650px) {
  .boxContainer {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
    width: 650px;
  }

  .App {
    width: 650px;
  }
}
